
.name::first-letter {
    font-size: 30pt;
    color: rgba(26, 188, 156, 255);
}
.name {
    margin-right: 567px;
    font-family: sans-serif;
    font-weight:300;
    font-size: 20pt;
    
    
}
.header {
    text-align: center ;
    
}
.header div {
    display: inline-block;
}
.list {
    float: left;
    list-style-type: none;
    text-decoration: none;
    margin: auto;
    font-family: 'OpenSans', 'AdobeInvisFont', 'MyriadPro-Regular', sans-serif;
    font-size: 14px; 
    font-style: normal; 
    font-variant: small-caps; 
    }
.list li {
    display: inline;
    max-width: 467px;
    float: left;
    height: 10px;
    display: block;
}
.list a {
    display: block;
    font-size: 12pt;
    text-decoration: none;
    text-transform: uppercase;
}
.list a:hover {
    color: rgba(26, 188, 156, 255);
}
.Featured {
    text-align: center;
    margin-top: 111px;
    font-size: 48pt;
    color: rgba(81, 81, 81, 255);
    font-family: Roboto, sans-serif;
}
.line {
    background-color: rgba(26, 188, 156, 255);
    border: none;
    color: rgba(26, 188, 156, 255);
    margin-top: 32px;
    width: 164px;
    height: 7px;
    text-align: center;
}
.firstProducts{
    overflow:hidden;
    
}
.box {
    white-space:nowrap;
    width: 1180px;
    margin: 0 auto;
    
    
}

.box div.img {
    position: relative;
    width: 255px;
    height: 322px;
    float: left;
    border:1px solid black;
    

}

.box div.products {
    position: absolute;
    left: -83px ; right: 35px; top: -17px ; bottom: 58px ;
    width:343 ;
    height: 281 ;
    border: none;
}


.box div {
    margin-left: 30px ;
    width: 255px;
    height: 322px;
    float: left;
    border:1px solid black;
    
    
}
.box div.img1 {
    margin-left: 0px ;
    position: relative;
    background-color: #e9f0fd;
    border: none;
    

}

.box div.products1 {
    position: absolute;
    left: 2px ; right: 43px; top: 22px ; bottom: 54px ;
    width:343 ;
    height: 281 ;
    border: none;
}
.box div.img2 {
    margin-left: 0px ;
    position: relative;
    background-color: #e9f0fd;
    border: none;
    

}
.box div.border {
    margin-left: 25px;
}

.box div.products2 {
    position: absolute;
    left: -13px ; right: 13px; top: 71px ; bottom: 43px ;
    width:343 ;
    height: 281 ;
    border: none;
}
.box div.img3 {
    margin-left: 0px ;
    position: relative;
    background-color: #e9f0fd;
    border: none;
    


}


.box div.products3 {
    position: absolute;
    left: -17px ; right: 8px; top: 70px ; bottom: 48px ;
    width:343 ;
    height: 281 ;
    border: none;
}
.box1 {
    white-space:nowrap;
    width: 1180px;
    margin: 30px auto;
    
    
}
.box1 div {
    margin-left: 30px ;
    width: 255px;
    height: 322px;
    float: left;
    
    display: inline-block;
}
.box1 div.img4 {
    margin-left: 0px ;
    position: relative;
    background-color: #e9f0fd;
    border: 1px solid rgb(0, 0, 0);
}
.box1 div.products4 {
    position: absolute;
    left: -2px ; right: 25px; top: 13px ; bottom: 96px ;
    width:198 ;
    height: 213 ;
    border: none;
}
.box1 div.img5 {
    margin-left: 0px;
    position: relative;
    background-color: #e9f0fd;
    border: 1px solid black;
}
.box1 div.products5 {
    position: absolute;
    left: -32px ; right: 6px; top: 51px ; bottom: 91px ;
    width:260px ;
    height: 180px ;
    border: none;
}
.box1 div.img6 {
    margin-left: 0px;
    position: relative;
    background-color: #e9f0fd;
    border: 1px solid black;
}
.box1 div.products6 {
    position: absolute;
    left: 0px ; right: 27px; top: 24px ; bottom: 58px ;
    width:196px ;
    height: 240px ;
    border: none;
}
.box1 div.img6 {
    margin-left: 0px;
    position: relative;
    background-color: #e9f0fd ;
    border: 1px solid black;
}
.box1 div.products6 {
    position: absolute;
    left: 0px ; right: 27px; top: 24px ; bottom: 58px ;
    width:196px ;
    height: 240px ;
    border: none;
}
.box1 div.img6 {
    margin-left: 0px;
    position: relative;
    background-color: #e9f0fd;
    border: 1px solid black;
}
.box1 div.products6 {
    position: absolute;
    left: 0px ; right: 27px; top: 24px ; bottom: 58px ;
    width:196px ;
    height: 240px ;
    border: none;
}
.box1 div.img7 {
    margin-left: 0px;
    position: relative;
    background-color: #e9f0fd;
    border: 1px solid black;
}
.box1 div.products7 {
    position: absolute;
    left: -20px ; right: 8px; top: 97px ; bottom: 127px ;
    width:234px ;
    height: 98px ;
    border: none;
}
.box1 div.shop {

}
.box1 div.money {

}
.box1 div.panel {
    margin-top: -282px;
    width: 255px;
    height: 40px;
}
.AllNews {
    text-align: center;
}
.News {
    margin-right: 30px;
    display: inline-block;
    text-align: left;
    width: 350px;
}
.Photo1 {
    width: ;
    height: ;
}
.photo2 {
    width: ;
    height: ;
}
.Photo3 {
    width: ;
    height: ;
}

.span {
    font-family: "Open Sans"
}